.button
    display inline-block
    padding: em(20px) em(30px)
    font-family fontMedium
    font-size em(12px)
    background themeColor
    border-radius: 3px
    text-transform uppercase
    clearA(#fff)
