//footer
.footer
    padding em(50px) 0
.about
    list-style none
    padding 0
    margin 0
    &__item
        display inline-block
        text-transform uppercase
        border-right 2px solid  themeColor
        &:not(:first-child)
            margin-left em(10px)
    &__link
        clearA()
        padding-right em(10px)
        font em(14px) fontBold
.copyryght
    margin 0
    padding-top em(24px,14px)
    font em(14px) fontBold
.logo--footer
    position relative
    top em(0px)
