//fourth-section
.fourth-section
    background #f5f6f7
    padding em(120px) 0
.community
    padding-top em(45px)
    text-align center
    &__header
        font em(16px) fontBold
        text-transform: uppercase;
    &__text
        font em(10px) fontBook
        line-height 1.75em
        padding  0 em(45)
