.third-section
    padding-top em(80px)
    border-bottom 1px solid black
.iphone
    position relative
    top 50%
    &__wrapper
        padding-top em(20px)
        padding-bottom 0
        margin-bottom 0
        // position absolute
        // bottom 0
        max-height 25em
        overflow hidden
        // clearfix()
@media screen and (max-width: lPoint)
    .iphone
        &__wrapper
            width 100%
            text-align center
