//sixy-section
.sixy-section
    background-color #f5f6f7
    padding em(90px) 0 em(95px) 0
.download
    text-align center
    &__header
        margin 0
        font em(20px) fontMedium
        text-transform uppercase
    &__text
        display inline-block
        max-width em(980px)
        margin-bottom em(50px)
        font em(12px) fontMedium
        text-transform uppercase
        line-height 2em
    &__button
            clearA(#fff)
            position relative
            display inline-block
            margin-bottom 1.5em
            &--margin-right
                margin-right em(25px)
        span
            font 1em fontBold
            padding 1.5em em(160em) 1.5em 1.5em
            display block
            text-transform uppercase
            background-color themeColor2
            border-radius 3px
            transition background-color .3s
            &:hover
                background-color themeColor
        i
            position absolute
            right 0
            top 0
            font-size 1.5em
            padding .65em .6em .9em .6em
            margin 0
            background-color themeColor
            border 1px solid themeColor
            border-radius 0 3px 3px 0
