//second-section
.second-section
    // @extend .row
    padding em(100px) 0
    background #f5f6f7 url('img/iphone-in-hand.png') 500px 95px no-repeat
.text-header
    font em(18px) fontBold
    line-height: em(25px);
    text-transform uppercase
    color themeColor
