/***
    VARIABLES
***/
templateWidth = em(1280px)
colNumber = 20
themeColor = #16a085
themeColor2 = #1abc9c
//breakpoints
lPoint = em(1024px)
mPoint = em(640px)
sPoint = em(480px)
fontBook = 'GothamRounded-Book', Arial, sans-serif
fontMedium = 'GothamRounded-Medium', Arial, sans-serif
fontBold = 'GothamRounded-Bold', Arial, sans-serif
logoWhite = "img/logo--white.png"
